# Build artifacts
*.egg-info
*.mo
*.pyc
.mypy_cache
.ruff_cache

# Test artifacts
.coverage*
coverage.xml
htmlcov/
tests.log

# Editor / IDE files
.vscode
.*.swp
env/
tags

# Packaging
build/
dist/
docs/_build/
